# 11_data_school_sklearn_impute_missing_knn

Mejor método de imputanción que SimpleImputer (inspirado en Mice de 'R')  <br/>

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.compose import make_column_transformer, ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer   # <--------- 1.
from sklearn.impute import IterativeImputer   # <--------- 2.
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
train = pd.read_csv(r'./dataset/train.csv', sep=';')

In [31]:
X = train.drop(['PassengerId', 'Name', 'Ticket', 'Sex', 
                'Parch', 'Ticket', 'Cabin','Embarked','Survived'], axis=1)
X = X.iloc[12:35]
X

    Pclass   Age  SibSp      Fare
12       3  20.0      0    8.0500
13       3  39.0      1   31.2750
14       3  14.0      0    7.8542
15       2  55.0      0   16.0000
16       3   2.0      4   29.1250
17       2   NaN      0   13.0000
18       3  31.0      1   18.0000
19       3   NaN      0    7.2250
20       2  35.0      0   26.0000
21       2  34.0      0   13.0000
22       3  15.0      0    8.0292
23       1  28.0      0   35.5000
24       3   8.0      3   21.0750
25       3  38.0      1   31.3875
26       3   NaN      0    7.2250
27       1  19.0      3  263.0000
28       3   NaN      0    7.8792
29       3   NaN      0    7.8958
30       1  40.0      0   27.7208
31       1   NaN      1  146.5208
32       3   NaN      0    7.7500
33       2  66.0      0   10.5000
34       1  28.0      1   82.1708

In [32]:
# experimental imputer, para comparar imputaciones con knn y SimpleImputer
impute_it = IterativeImputer()
impute_it.fit_transform(X)

array([[  3.        ,  20.        ,   0.        ,   8.05      ],
       [  3.        ,  39.        ,   1.        ,  31.275     ],
       [  3.        ,  14.        ,   0.        ,   7.8542    ],
       [  2.        ,  55.        ,   0.        ,  16.        ],
       [  3.        ,   2.        ,   4.        ,  29.125     ],
       [  2.        ,  29.53319452,   0.        ,  13.        ],
       [  3.        ,  31.        ,   1.        ,  18.        ],
       [  3.        ,  29.54043314,   0.        ,   7.225     ],
       [  2.        ,  35.        ,   0.        ,  26.        ],
       [  2.        ,  34.        ,   0.        ,  13.        ],
       [  3.        ,  15.        ,   0.        ,   8.0292    ],
       [  1.        ,  28.        ,   0.        ,  35.5       ],
       [  3.        ,   8.        ,   3.        ,  21.075     ],
       [  3.        ,  38.        ,   1.        ,  31.3875    ],
       [  3.        ,  29.54043314,   0.        ,   7.225     ],
       [  1.        ,  19.        ,   3.        , 263.        ],
       [  3.        ,  29.53960943,   0.        ,   7.8792    ],
       [  3.        ,  29.53958853,   0.        ,   7.8958    ],
       [  1.        ,  40.        ,   0.        ,  27.7208    ],
       [  1.        ,  29.36501792,   1.        , 146.5208    ],
       [  3.        ,  29.53977211,   0.        ,   7.75      ],
       [  2.        ,  66.        ,   0.        ,  10.5       ],
       [  1.        ,  28.        ,   1.        ,  82.1708    ]])

In [33]:
# knn sólo permite imputar con variables NUMÉRICAS
impute_knn = KNNImputer (n_neighbors = 4)
impute_knn.fit_transform(X)

array([[  3.    ,  20.    ,   0.    ,   8.05  ],
       [  3.    ,  39.    ,   1.    ,  31.275 ],
       [  3.    ,  14.    ,   0.    ,   7.8542],
       [  2.    ,  55.    ,   0.    ,  16.    ],
       [  3.    ,   2.    ,   4.    ,  29.125 ],
       [  2.    ,  43.75  ,   0.    ,  13.    ],
       [  3.    ,  31.    ,   1.    ,  18.    ],
       [  3.    ,  28.75  ,   0.    ,   7.225 ],
       [  2.    ,  35.    ,   0.    ,  26.    ],
       [  2.    ,  34.    ,   0.    ,  13.    ],
       [  3.    ,  15.    ,   0.    ,   8.0292],
       [  1.    ,  28.    ,   0.    ,  35.5   ],
       [  3.    ,   8.    ,   3.    ,  21.075 ],
       [  3.    ,  38.    ,   1.    ,  31.3875],
       [  3.    ,  28.75  ,   0.    ,   7.225 ],
       [  1.    ,  19.    ,   3.    , 263.    ],
       [  3.    ,  28.75  ,   0.    ,   7.8792],
       [  3.    ,  28.75  ,   0.    ,   7.8958],
       [  1.    ,  40.    ,   0.    ,  27.7208],
       [  1.    ,  33.25  ,   1.    , 146.5208],
       [  3.    ,  28.75  ,   0.    ,   7.75  ],
       [  2.    ,  66.    ,   0.    ,  10.5   ],
       [  1.    ,  28.    ,   1.    ,  82.1708]])

In [35]:
# utiliza la media para hacer todass las imputaciones
impute_simple = SimpleImputer()
impute_simple.fit_transform(X)

array([[  3.    ,  20.    ,   0.    ,   8.05  ],
       [  3.    ,  39.    ,   1.    ,  31.275 ],
       [  3.    ,  14.    ,   0.    ,   7.8542],
       [  2.    ,  55.    ,   0.    ,  16.    ],
       [  3.    ,   2.    ,   4.    ,  29.125 ],
       [  2.    ,  29.5   ,   0.    ,  13.    ],
       [  3.    ,  31.    ,   1.    ,  18.    ],
       [  3.    ,  29.5   ,   0.    ,   7.225 ],
       [  2.    ,  35.    ,   0.    ,  26.    ],
       [  2.    ,  34.    ,   0.    ,  13.    ],
       [  3.    ,  15.    ,   0.    ,   8.0292],
       [  1.    ,  28.    ,   0.    ,  35.5   ],
       [  3.    ,   8.    ,   3.    ,  21.075 ],
       [  3.    ,  38.    ,   1.    ,  31.3875],
       [  3.    ,  29.5   ,   0.    ,   7.225 ],
       [  1.    ,  19.    ,   3.    , 263.    ],
       [  3.    ,  29.5   ,   0.    ,   7.8792],
       [  3.    ,  29.5   ,   0.    ,   7.8958],
       [  1.    ,  40.    ,   0.    ,  27.7208],
       [  1.    ,  29.5   ,   1.    , 146.5208],
       [  3.    ,  29.5   ,   0.    ,   7.75  ],
       [  2.    ,  66.    ,   0.    ,  10.5   ],
       [  1.    ,  28.    ,   1.    ,  82.1708]])